.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  width: 100%;
  max-height: 600px;
  height: 95%;
}
.container {
  max-width: 850px;
  width: 100%;
  max-height: 600px;
  height: 95%;
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 80%;
  height: 95%;
}
